<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../public/css/style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Ropz.god</title>
</head>
<body>
    <div class="div1">
        <h1>Blubby2k</h1>
        <img src="../public/100010099.png" alt="Blubby2k" />
        <!-- XSS -->
        <!--<img src="123" onerror="alert(123)" />-->
        <p><em>That is just a <br> <strong style="color: darkblue;">paragraph</strong></em></p>
        <!-- <a href="https://www.google.com">page=1</a> -->
        <hr>
    </div>
    <div class="div2 ">
    <ol>
        <li>I have learned about tags</li>
        <li>I have learned about lists</li>
        <li>Next i will learn about image tags</li>
    </ol>
    </div>
    <form class="" action="/" method="">
        <label>Your name</label>
        <br>
        <input type="text" name="name" value="" />
        <button>Submit</button>
        <br>
        <input type="password" />
        <div hidden>secret="Hidden information"</div>

    </form>
</body>
<!--<a href="https://www.google.com/"></a><script>alert(123)</script>">page=1</a>-->
</html>